@mixin transition {
    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

@mixin objectfit {
    object-fit: cover;
    -moz-object-fit: cover;
    -webkit-object-fit: cover;
    -ms-object-fit: cover;
    -o-object-fit: cover;
}

@mixin shadowbot{
    box-shadow: 0 2px 6px #C4C4C4;
    -moz-box-shadow: 0 2px 6px #C4C4C4;
    -webkit-box-shadow: 0 2px 6px #C4C4C4;
    -ms-box-shadow: 0 2px 6px #C4C4C4;
    -o-box-shadow: 0 2px 6px #C4C4C4;
}
@mixin objectfitcover{
    object-fit: cover;
    -moz-object-fit: cover;
    -webkit-object-fit: cover;
    -ms-object-fit: cover;
    -o-object-fit: cover;
}

@mixin sitefont{   
    font-family: 'Poppins', sans-serif;
    color:$black;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -ms-font-smoothing:antialiased;
    -o-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
}

@mixin positionall{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}



//mixins for devices responsive
//mobile mixin
@mixin mob {
    @media (min-width:#{$mobile-width}) and (max-width:#{$mobilelscape-width - 1}) {
        @content;
    }
}

//mobile landscape
@mixin mlscape {
    @media (min-width:#{$mobilelscape-width}) and (max-width:#{$tablet-width - 1}) {
        @content;
    }
}

//tablet mixin
@mixin tab {
    @media (min-width:#{$tablet-width}) and (max-width:#{$laptop-width - 1}) {
        @content;
    }
}

//laptop mixin 
@mixin lap {
    @media (min-width:#{$laptop-width}) and (max-width:#{$desktop-width - 1}) {
        @content;
    }
}