//colors
$green:#009E1A;
$orange:#FF6903;
$white:#fff;
$black:#000;
$darkgreen:#002020;
$lightgray:#F8FCFD;
$gray:#4B4B4B;

//font size
$fsize:14px;

//devices breakpoints

$mobile-width:320px;
$mobilelscape-width:576px;
$tablet-width:768px;
$laptop-width:991px;
$desktop-width:1200px;
