@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.fgreen {
  color: #009E1A;
}

.greenlink {
  background: #009E1A;
  padding: 8px 12px;
  color: #fff;
  font-size: 13px;
  border-radius: 5px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.greenlink:hover {
  background: #FF6903;
}

a {
  color: inherit;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  letter-spacing: -1px;
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
}

.list-icon, .carousel-fade .carousel-item .carousel-caption ul li, .list-items li {
  position: relative;
}

.list-icon:before, .carousel-fade .carousel-item .carousel-caption ul li:before, .list-items li:before {
  content: "\f00c";
  font-family: 'icomoon' !important;
  font-size: 14px;
  background: #009E1A;
  padding: 3px;
  border-radius: 50%;
  color: #fff;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  padding: 5px;
  margin-right: 5px;
}

.light, .section-title, .title-block h3, .col-card .colcard-in h6 {
  font-weight: 300;
}

.fsemibold, .carousel-fade .carousel-item .carousel-caption h3, .modal .product-details .table tr td:last-child {
  font-weight: 500;
}

.fbold, .section-title span, .categories .cat-item article h5, .title-block h3 span, .subpage .subpage-header article h1 {
  font-weight: 600;
}

.forange {
  color: #FF6903 !important;
}

.vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #000;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  background: #F8FCFD;
}

.section-title {
  font-size: 22px;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 5px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .section-title {
    padding-top: 15px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .section-title {
    padding-top: 15px;
  }
}

header {
  background: #fff;
}

@media (min-width: 320px) and (max-width: 575px) {
  header {
    position: relative;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  header .navbar-toggler {
    position: absolute;
    top: -47px;
    right: 10px;
    border: 1px solid #009E1A !important;
  }
  header .navbar-toggler .icomoon {
    color: #009E1A;
  }
}

header .brand-logo .brand-img {
  width: 225px;
}

@media (min-width: 576px) and (max-width: 767px) {
  header .brand-logo .brand-img {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  header .brand-logo .brand-img {
    width: 195px;
  }
}

header .header-search {
  margin: 0 auto;
  width: 95%;
}

header .header-search input[type="text"] {
  height: 40px;
  border: 1px solid #b1b1b1;
  width: 75%;
  padding: 0 15px;
}

header .header-search input[type="text"]:focus {
  outline: none;
  border: 1px solid #009E1A;
}

header .header-search button {
  width: 10%;
  background: #009E1A;
  border: none;
  cursor: pointer;
}

header .header-search button .icomoon {
  color: #fff;
}

header .header-social a {
  width: 40px;
  height: 40px;
  border: 1px solid #009E1A;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 48px;
  margin-left: 5px;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .header-social a {
    border: 1px solid #fff;
  }
}

header .header-social a:hover {
  background: #009E1A;
}

header .header-social a:hover .icomoon {
  color: #fff;
}

header .header-social a .icomoon {
  font-size: 24px;
  color: #4B4B4B;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .header-social a .icomoon {
    color: #fff;
  }
}

header .main-nav {
  background: #009E1A;
  font-size: 14px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .main-nav .navbar {
    padding: 0;
  }
  header .main-nav .navbar-collapse {
    padding: 15px;
  }
}

header .main-nav .active {
  background: #FF6903;
  border-radius: 5px;
  padding: .5rem 1rem;
  color: #fff;
  display: block;
}

header .main-nav .nav-link {
  color: #fff !important;
  font-size: 14px;
  text-transform: uppercase;
}

@media (min-width: 768px) and (max-width: 990px) {
  header .main-nav .nav-link {
    font-size: 13px;
  }
}

header .main-nav .nav-link:hover {
  background: #FF6903;
  border-radius: 5px;
}

header .main-nav .dropdown-menu {
  background: #009E1A;
  border: none;
  border-radius: 0;
}

header .main-nav .dropdown-menu .dropdown-item {
  font-size: 14px;
  color: #fff;
  padding: 8px 10px;
}

header .main-nav .dropdown-menu .dropdown-item:hover {
  background: #FF6903;
  color: #fff;
}

header .main-nav .dropdown-menu .active-subnav {
  background: #FF6903;
  color: #fff;
  padding: 8px 10px;
  display: block;
}

header .main-nav .rt-link .btn {
  background: #fff;
  font-size: 14px;
}

header .main-nav .rt-link .btn:hover {
  background: #FF6903;
  color: #fff;
}

::-webkit-input-placeholder {
  font-size: 13px;
  color: #7e7e7e;
}

:-ms-input-placeholder {
  font-size: 13px;
  color: #7e7e7e;
}

::-ms-input-placeholder {
  font-size: 13px;
  color: #7e7e7e;
}

::placeholder {
  font-size: 13px;
  color: #7e7e7e;
}

.carousel-fade .carousel-item {
  display: block;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity .75s ease-in-out;
  transition: opacity .75s ease-in-out;
}

.carousel-fade .carousel-item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(25%, #fff), to(transparent));
  background-image: linear-gradient(90deg, #fff 25%, transparent);
  z-index: 10;
}

.carousel-fade .carousel-item .carousel-caption {
  position: relative;
  text-align: left;
  z-index: 20;
  left: inherit;
  right: inherit;
  top: 20px;
  color: #000;
}

@media (min-width: 320px) and (max-width: 575px) {
  .carousel-fade .carousel-item .carousel-caption {
    top: 0;
  }
}

.carousel-fade .carousel-item .carousel-caption h3 {
  color: #002020;
  font-size: 28px;
  position: relative;
}

@media (min-width: 320px) and (max-width: 575px) {
  .carousel-fade .carousel-item .carousel-caption h3 {
    font-size: 22px;
  }
}

.carousel-fade .carousel-item .carousel-caption h3:before {
  content: '';
  width: 50px;
  height: 2px;
  background: #FF6903;
  bottom: -8px;
  left: 0;
  position: absolute;
}

.carousel-fade .carousel-item .carousel-caption ul {
  margin-top: 20px;
}

.carousel-fade .carousel-item .carousel-caption ul li {
  font-size: 16px;
  color: #000;
  padding: 5px 0;
}

.carousel-fade .carousel-item.active {
  opacity: 1;
}

.carousel,
.carousel-inner,
.carousel-item {
  width: 100%;
  height: 320px;
}

.slider-img-opacity {
  width: 50%;
  min-height: 250px;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.5;
}

.carousel-item:nth-child(1) {
  background-image: url(../img/slider01.jpg);
}

.carousel-item:nth-child(2) {
  background-image: url(../img/slider02.jpg);
}

.carousel-item:nth-child(3) {
  background-image: url(../img/slider03.jpg);
}

.carousel-item:nth-child(4) {
  background-image: url(../img/slider04.jpg);
}

.carousel-indicators li {
  background: #FF6903;
}

.carousel-indicators .active {
  background: #009E1A;
}

.categories {
  padding: 20px 0;
  position: relative;
  min-height: 1000px;
}

.categories .container {
  position: relative;
  z-index: 5;
}

.categories:before {
  content: '';
  background: url(../img/shape-1.png) no-repeat -100px 0;
  width: 535px;
  height: 668px;
  position: absolute;
  left: 0;
  top: 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .categories:before {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .categories:before {
    display: none;
  }
}

.categories:after {
  content: '';
  background: url(../img/shape-2.png) no-repeat 0 0;
  width: 535px;
  height: 668px;
  position: absolute;
  right: 0;
  top: 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .categories:after {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .categories:after {
    display: none;
  }
}

.categories .formulatrans {
  width: 379px;
  height: 359px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.categories .microscope {
  width: 317px;
  height: 361px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.categories .categories-items {
  position: relative;
}

.categories .categories-items .cat-title {
  position: absolute;
  width: 92px;
  height: 411px;
  position: absolute;
  top: 0;
  left: -100px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .categories .categories-items .cat-title {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .categories .categories-items .cat-title {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .categories .categories-items .cat-title {
    display: none;
  }
}

.categories .cat-item {
  background: #fff;
  border-radius: 7px;
  height: 127px;
  width: 100%;
  box-shadow: 0 2px 6px #C4C4C4;
  -moz-box-shadow: 0 2px 6px #C4C4C4;
  -webkit-box-shadow: 0 2px 6px #C4C4C4;
  -ms-box-shadow: 0 2px 6px #C4C4C4;
  -o-box-shadow: 0 2px 6px #C4C4C4;
  margin-bottom: 15px;
}

.categories .cat-item .cat-figure {
  background: #b1b1b1;
  width: 35%;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  padding: 12px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 127px;
}

.categories .cat-item .cat-figure img {
  width: 100%;
  margin-top: 15px;
}

@media (min-width: 576px) and (max-width: 767px) {
  .categories .cat-item .cat-figure img {
    margin-top: 0;
  }
}

.categories .cat-item article {
  padding: 10px;
  width: 65%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.categories .cat-item article h5 {
  font-size: 14px;
  color: #009E1A;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.categories .cat-item article h5 a:hover {
  color: #FF6903;
}

.categories .cat-item article p {
  font-size: 13px;
  color: #4B4B4B;
  line-height: 22px;
}

.categories .popular-products {
  position: relative;
  margin-top: 20px;
}

.categories .popular-products .cat-title {
  position: absolute;
  width: 92px;
  height: 358px;
  position: absolute;
  top: 0;
  right: -100px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .categories .popular-products .cat-title {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .categories .popular-products .cat-title {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .categories .popular-products .cat-title {
    display: none;
  }
}

.categories .popular-products .products-slick {
  background: #fff;
  padding: 15px;
  border: 10px solid #009E1A;
}

.categories .popular-products .products-slick .slide {
  cursor: pointer;
}

.categories .popular-products .products-slick .slide:focus {
  outline: none;
}

.categories .popular-products .slick-arrow {
  height: 1px;
  text-indent: -100000px;
  border: none;
  background: none;
  display: none;
  cursor: pointer;
}

.categories .popular-products .slick-arrow:hover:before {
  background: #FF6903 !important;
}

.categories .popular-products .slick-prev:before {
  content: "\f104";
  font-family: 'icomoon' !important;
  top: -58px;
  position: absolute;
  right: 50px;
  font-size: 20px;
  color: #fff;
  background: #000;
  width: 40px;
  text-align: center;
  height: 40px;
  line-height: 38px;
  text-indent: 0;
  border-radius: 50%;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.categories .popular-products .slick-next:before {
  content: "\f105";
  font-family: 'icomoon' !important;
  top: -58px;
  position: absolute;
  right: 0;
  font-size: 20px;
  color: #fff;
  background: #000;
  width: 40px;
  text-align: center;
  height: 40px;
  line-height: 38px;
  text-indent: 0;
  border-radius: 50%;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.title-block {
  padding-bottom: 15px;
}

.title-block h3 {
  font-size: 28px;
}

.title-block h3 span {
  color: #009E1A;
}

footer {
  background: #002020;
  min-height: 100px;
  position: relative;
  margin-top: 20px;
}

footer:before {
  content: '';
  background: url(../img/Group-93.png) no-repeat 0 0;
  width: 447px;
  height: 100%;
  min-height: 200px;
  position: absolute;
  right: 0;
  opacity: 0.1;
}

footer .top-footer {
  color: #fff;
  padding: 25px 0;
}

footer .top-footer p {
  color: #8b8b8b;
  line-height: 25px;
  padding-bottom: 12px;
}

footer .top-footer p .icomoon {
  font-size: 19px;
  margin-right: 10px;
}

footer .footer-nav h5 {
  font-size: 19px;
  color: #fff;
  text-transform: uppercase;
}

@media (min-width: 768px) and (max-width: 990px) {
  footer .footer-nav h5 {
    margin-top: 25px;
  }
}

footer .footer-nav ul li a {
  color: #8b8b8b;
  font-size: 13px;
  padding: 7px 0;
  display: inline-block;
}

footer .footer-nav ul li a:hover {
  color: #FF6903;
}

footer .footer-nav .footer-social .nav-link {
  margin: 0 8px;
}

footer .footer-nav .footer-social .icomoon {
  font-size: 19px;
}

footer .bot-footer {
  background: #FF6903;
  padding: 5px 0;
}

.modal-dialog-slideout {
  min-height: 100%;
  margin: 0 0 0 auto;
  background: #fff;
  width: 25%;
}

.modal.fade .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(100%, 0) scale(1);
  transform: translate(100%, 0) scale(1);
}

.modal.fade.show .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch;
  -webkit-box-align: stretch;
  height: 100%;
}

.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body {
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-dialog-slideout .modal-content {
  border: 0;
}

.modal-dialog-slideout .modal-header {
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog-slideout .modal-header h5 {
  float: left;
}

@media (min-width: 320px) and (max-width: 575px) {
  .modal-dialog-slideout .modal-header h5 {
    width: 90%;
    font-size: 17px;
    line-height: 24px;
  }
}

.modal .product-details h5 {
  font-size: 16px;
  padding-bottom: 10px;
}

.modal .product-details .table {
  font-size: 15px;
}

.modal .product-details .table tr td:first-child {
  color: #4B4B4B;
}

.modal .product-details .table tr td:last-child {
  color: #000;
}

#movetop {
  position: fixed;
  right: 15px;
  bottom: 60px;
  width: 40px;
  height: 40px;
  background: #009E1A;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  text-align: center;
  line-height: 40px;
  display: none;
  z-index: 99;
}

#movetop .icomoon {
  font-size: 16px;
  color: #fff;
}

#movetop:hover {
  background: #FF6903;
}

.subpage {
  min-height: 500px;
}

.subpage p {
  font-size: 14px;
  color: #4B4B4B;
  text-align: justify;
  line-height: 26px;
  padding-bottom: 20px;
}

.subpage .subpage-header {
  background: url(../img/page-header.jpg) no-repeat 0 0;
  width: 100%;
  padding: 50px 0;
  margin-bottom: 20px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subpage .subpage-header {
    padding: 15px 0;
  }
}

.subpage .subpage-header article {
  color: #fff;
}

.subpage .subpage-header article h1 {
  font-size: 30px;
  border-left: 5px solid #FF6903;
  padding-left: 5px;
}

.subpage .subpage-header article nav ol {
  background: none;
  margin-left: 0;
  padding-left: 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subpage .subpage-header article nav ol {
    margin-bottom: 0;
  }
}

.subpage .subpage-header article nav ol li {
  font-size: 12px;
}

.subpage .subpage-header article nav ol li:before {
  content: '-';
  color: #fff;
}

.subpage .subpage-header article nav ol li:first-child:before {
  content: '';
}

.subpage .subpage-header article nav ol li a {
  font-size: 12px;
}

.subpage .subpage-header article nav ol .active {
  color: #FF6903;
}

.bgwhite {
  background: #fff;
}

.col-card .colcard-in {
  padding: 30px 25px;
  min-height: 215px;
  border: 1px solid #eee;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col-card .colcard-in .icomoon {
  font-size: 70px;
  color: #009E1A;
}

.col-card .colcard-in h6 {
  font-size: 16px;
  padding-top: 20px;
  line-height: 25px;
}

.list-items li {
  padding: 7px 0;
  font-size: 14px;
  color: #4B4B4B;
}

.quality-control {
  background: url(../img/quality-controlbg.jpg) no-repeat 0 0;
  width: 100%;
  padding: 100px 0;
  position: relative;
}

.quality-control:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#002020), to(#FF6903));
  background-image: linear-gradient(90deg, #002020, #FF6903);
  z-index: 10;
  opacity: 0.8;
}

.quality-control .container {
  position: relative;
  color: #fff;
  z-index: 12;
}

.quality-control .container h2 {
  color: #fff;
  padding-bottom: 25px;
}

.quality-control .container p {
  color: #fff;
}

.table-responsive {
  font-size: 14px;
}

.table-responsive thead {
  background: #009E1A;
}

.table-responsive thead th {
  color: #fff;
  font-weight: normal;
  font-size: 14px;
}

.form-group label {
  font-size: 12px;
}

.form-group .form-control {
  height: 40px;
  font-size: 14px;
}

.form-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #009E1A;
}

.data-table {
  font-size: 15px;
}

.data-table thead {
  background: #009E1A;
}

.data-table thead th {
  color: #fff;
  font-weight: 400;
}

.data-table .data-tableimg {
  width: 85px;
}

.page-link {
  color: #000;
}

.active .page-link {
  background: #009E1A !important;
  border: 1px solid #009E1A !important;
  color: #fff;
}

textarea.form-control {
  height: 150px !important;
}

.career-col {
  padding-bottom: 25px;
}

.career-col .icomoon {
  font-size: 70px;
  color: #009E1A;
}

.cat-items {
  display: block;
}

.cat-items li a {
  font-size: 14px;
  display: block;
  padding: 12px 0;
  border-bottom: 1px solid #cbcbcb;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.cat-items li a:hover {
  background: #009E1A;
  color: #fff;
  padding-left: 5px;
}

.cat-items li .active-cat {
  background: #FF6903;
  color: #fff;
  padding-left: 5px;
}

.mob-dropdown-link {
  float: right;
  display: none;
}

@media (min-width: 320px) and (max-width: 575px) {
  .cat-items {
    display: none;
  }
  .mob-dropdown-link {
    padding: 5px 10px;
    border: 1px solid #009E1A;
    display: inline-block;
    border-radius: 5px;
    margin-top: -10px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .cat-items {
    display: none;
  }
  .mob-dropdown-link {
    padding: 5px 10px;
    border: 1px solid #009E1A;
    display: inline-block;
    border-radius: 5px;
    margin-top: -10px;
  }
}

.search-results {
  font-size: 14px;
}

.dataList {
  height: 250px;
  overflow-y: auto;
}
/*# sourceMappingURL=style.css.map */