@import 'variables';
@import 'mixins';


//font-family: 'Poppins', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
}

.fgreen{
    color:$green;
}

.greenlink{
    background:$green;
    padding:8px 12px;
    color:$white;
    font-size:$fsize - 1;
    border-radius:5px;
    @include transition;

    &:hover{
        background:$orange;
    }
}

a{
    color:inherit;
    @include transition;

    &:hover{
        text-decoration: none;
        color:inherit;
    }
}

p{
    font-size:$fsize;
    line-height:24px;
    padding:0;
    margin:0;
}

h1, h2, h3, h4{
    letter-spacing: -1px;
    margin:0;
    padding:0;
    display:block;
    width:100%;
}

.list-icon{
    position:relative;   

    &:before{
        content: "\f00c";
        font-family: 'icomoon' !important;
        font-size:$fsize;
        background:$green;
        padding:3px;
        border-radius:50%;
        color:$white;
        width:25px;
        height:25px;
        text-align:center;
        line-height:28px;
        padding:5px;
        margin-right:5px;
    }
}

.light{
    font-weight:300;
}
.fsemibold{
    font-weight:500;
}
.fbold{
    font-weight:600;
}
.forange{
    color:$orange!important;
}

.vertical-center{
    display:flex;
    flex-direction: column;
    justify-content: center;
}



body{
    @include sitefont;
    background:$lightgray;
}

.section-title{
    font-size:$fsize + 8;
    color:$black;
    @extend .light;
    text-transform: uppercase;    
    margin-bottom:5px;

    @include mob{
        padding-top:15px;
    }
    @include mlscape{
        padding-top:15px;
    }

    span{
        @extend .fbold;
    }
}

//header 
header{
    background:$white;
    
    @include mob{
        position:relative;
    }   

       @include mob{          

           .navbar-toggler{
            position:absolute;
            top:-47px;
            right:10px;
            border:1px solid $green!important;

            .icomoon{
                color:$green;
            }
        }

       }
   

    .brand-logo{
        .brand-img{
            width:225px;

            @include mlscape{
                width:100%;
            }
            @include tab{
                width:195px;
            }
        }
    }
    .header-search{
        margin:0 auto;
        width:95%;
        max-height:250px;
        overflow-y: auto;
       
        input[type="text"]{
            height:40px;
            border:1px solid lighten($gray, 40%);
            width:75%;
            padding:0 15px;

            &:focus{
                outline:none;
                border:1px solid $green;
            }
        }

      
        button{
            width:10%;
            background:$green;
            border:none;
            cursor: pointer;

            .icomoon{
                color:$white;
            }
        }
    }
    .header-social{
       
        a{
            width:40px;
            height:40px;
            border:1px solid $green;
            display: inline-block;
            border-radius:50%;
            text-align:center;
            line-height:48px;
            margin-left:5px;

            @include mob{
                border:1px solid $white;
            }

            &:hover{
                background:$green;

                .icomoon{
                    color:$white;
                }
            }

            .icomoon{
                font-size:$fsize + 10;
                color:$gray;

                @include mob{
                    color:$white;
                }
            }
        }
    }
    .main-nav{
        background:$green;
        font-size:$fsize;
        @include transition;

        @include mob{
            .navbar{
                padding:0;
            }

            .navbar-collapse{
                padding:15px;
            }
        }

        .active{
            background:$orange; 
            border-radius:5px;  
            padding:.5rem 1rem;  
            color:$white; 
            display:block;      
        }

        .nav-link{
            color:$white!important;
            font-size:$fsize;
            text-transform: uppercase;

            @include tab{
                font-size:$fsize - 1;
            }

            &:hover{
                background:$orange;   
                border-radius:5px;             
            }
        }

        .dropdown-menu{
            background:$green;
            border:none;
            border-radius:0;
            .dropdown-item{
                font-size:$fsize;
                color:$white;
                padding:8px 10px;

                &:hover{
                    background:$orange;
                    color:$white;
                }
            }
            .active-subnav{
                background:$orange;
                color:$white;
                padding:8px 10px;
                display:block;
            }
           
        }
       

        .rt-link{
            .btn{
                background:$white;
                font-size:$fsize;

                &:hover{
                    background:$orange;
                    color:$white;
                }
            }
        }
    }
}

::placeholder{
    font-size:$fsize - 1;
    color:lighten($gray, 20%);
}

//carousel 
.carousel-fade {
    .carousel-item {
        display: block;
        position: absolute;
        opacity: 0;
        transition: opacity .75s ease-in-out;

        &:before{
            content:'';            
            position:absolute;
            top:0;
            left:0;
            bottom:0;
            width:100%;          
            background-image:linear-gradient(90deg, $white 25%, transparent);           
            z-index: 10;;
        }    
        
        .carousel-caption{
            position:relative;
            text-align:left;
            z-index: 20;
            left:inherit;
            right:inherit;
            top:20px;
            color:$black;

            @include mob{
                top:0;
            }

            h3{
                color:$darkgreen;
                font-size:$fsize * 2;
                position: relative;
                @extend .fsemibold;

                @include mob{
                    font-size:$fsize + 8;
                }

                &:before{
                    content:'';
                    width:50px;
                    height:2px;
                    background:$orange;
                    bottom:-8px;
                    left:0;
                    position:absolute;
                }
            }
            ul{
                margin-top:20px;
                li{
                    font-size:$fsize + 2;    
                    color:$black;
                    padding:5px 0;  
                    @extend .list-icon;
                }
            }
        }
    }
    
}
.carousel-fade .carousel-item.active {
    opacity: 1;
}

.carousel,
.carousel-inner,
.carousel-item {
    width: 100%;
    height: 320px;
}

.slider-img-opacity{
    width:50%;
    min-height:250px;
    position:absolute;
    right:0;
    bottom:0;
    opacity:0.5;
}

.carousel-item:nth-child(1) {
   background-image: url(../img/slider01.jpg);
}

.carousel-item:nth-child(2) {
    background-image: url(../img/slider02.jpg);
}

.carousel-item:nth-child(3) {
    background-image: url(../img/slider03.jpg);
}
.carousel-item:nth-child(4) {
    background-image: url(../img/slider04.jpg);
}

.carousel-indicators{
    li{
        background:$orange;
    }
    .active{
        background:$green;
    }
}

.categories{
    padding:20px 0;
    position:relative;
    min-height:1000px;

    .container{
        position: relative;
        z-index: 5;
    }

    &:before{
        content:'';
        background:url(../img/shape-1.png)no-repeat -100px 0;
        width:535px;
        height:668px;
        position:absolute;
        left:0;
        top:0;     
        
        @include mob{
            display:none;
        }
        @include mlscape{
            display:none;
        }
    }
    &:after{
        content:'';
        background:url(../img/shape-2.png)no-repeat 0 0;
        width:535px;
        height:668px;
        position:absolute;
        right:0;
        top:0;    
        
        @include mob{
            display:none;
        }
        @include mlscape{
            display:none;
        }
    }
    .formulatrans{
        width:379px;
        height:359px;
        position: absolute;
        right:0;
        top:0;
        z-index: 0;     
        
    }
    .microscope{
        width:317px;
        height:361px;
        position: absolute;
        left:0;
        bottom:0;
        z-index: 0;
    }
    .categories-items{
        position:relative;

        .cat-title{
            position: absolute;
            width:92px;
            height:411px;
            position: absolute;
            top:0;
            left:-100px;

            @include mob{
                display:none;
            }
            
            @include mlscape{
                display:none;
            }
            @include tab{
                display:none;
            }
        }
    }

    .cat-item{
        background:$white;
        border-radius:7px;
        height:127px;
        width:100%;
        @include shadowbot;
        margin-bottom:15px;

        .cat-figure{
            background:lighten($gray, 40%);
            width:35%;           
            border-top-left-radius: 7px;
            border-bottom-left-radius: 7px;
            padding:12px;
            align-self: center;
            height:127px;
            

            img{
                width:100%;
                margin-top:15px;

                @include mlscape{
                    margin-top:0;
                }
            }
        }
        article{
            padding:10px;
            width:65%;
            align-self: center;
            h5{
                font-size:$fsize;
                color:$green;
                @extend .fbold;
                text-transform: uppercase;
                margin-bottom:5px;

                a{
                    &:hover{
                        color:$orange;
                    }
                }
            }
            p{
                font-size:$fsize - 1;
                color:$gray;
                line-height:22px;
            }
        }
    }

    //popular products 

    .popular-products{
        position: relative;
        margin-top:20px;       

        .cat-title{
            position: absolute;
            width:92px;
            height:358px;
            position: absolute;
            top:0;
            right:-100px;

            @include mob{
                display:none;
            }
            @include mlscape{
                display:none;
            }
            @include tab{
                display:none;
            }
        }

        .products-slick{
            background:$white;
            padding:15px;
            border:10px solid $green;

            .slide{
                cursor: pointer;

                &:focus{
                    outline:none;
                }
            }
        }

        .slick-arrow{
            height: 1px;
            text-indent: -100000px;
            border: none;
            background: none;
            display: none;
            cursor: pointer;   
           
            
            &:hover{
                &:before{
                    background:$orange!important;
                }
            }
        }

        .slick-prev{ 
            &:before{
                content: "\f104";
                font-family: 'icomoon' !important;
                top: -58px;
                position: absolute;
                right: 50px;
                font-size: 20px;
                color: $white;
                background: $black;
                width: 40px;
                text-align: center;
                height: 40px;
                line-height: 38px;
                text-indent: 0;
                border-radius:50%;
                @include transition;
            }
        }
        .slick-next{          
            &:before{
                content: "\f105";
                font-family: 'icomoon' !important;
                top: -58px;
                position: absolute;
                right: 0;
                font-size: 20px;
                color: $white;
                background: $black;
                width: 40px;
                text-align: center;
                height: 40px;
                line-height: 38px;
                text-indent: 0;
                border-radius:50%;
                @include transition;
            }
        }
    }    
}


.title-block{   
    padding-bottom:15px;
    h3{
        font-size:$fsize * 2;
        @extend .light;

        span{
            @extend .fbold;
            color:$green;
        }
    }
}

footer{
    background:$darkgreen;
    min-height:100px;
    position: relative;
    margin-top:20px;

    &:before{
        content:'';
        background:url(../img/Group-93.png)no-repeat 0 0;
        width:447px;
        height:100%;
        min-height:200px;
        position:absolute;
        right:0;
        opacity:0.1;       

    }

    .top-footer{
        color:$white;
        padding:25px 0;
        p{
            color:lighten($gray, 25%);
            line-height:25px;
            padding-bottom:12px;

            .icomoon{
                font-size:$fsize + 5;
                margin-right:10px;
            }
        }
    }
    .footer-nav{
        h5{
            font-size:$fsize + 5;
            color:$white;
            text-transform: uppercase;

            @include tab{
                margin-top:25px;
            }
        }
      
        ul{
            li{
                a{
                    color:lighten($gray, 25%);
                    font-size:$fsize - 1;
                    padding:7px 0;
                    display:inline-block;

                    &:hover{
                        color:$orange;
                    }
                }
            }
        }
        .footer-social{
            .nav-link{
                margin:0 8px;
            }
            .icomoon{
                font-size:$fsize + 5;
            }
        }
    }
    .bot-footer{
        background:$orange;
        padding:5px 0;        
    }
}


//modal styles

.modal-dialog-slideout {
    min-height: 100%; 
    margin: 0 0 0 auto;
    background: #fff;
    width:25%;
}
.modal.fade .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(100%,0)scale(1);transform: translate(100%,0)scale(1);
}
.modal.fade.show .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    display: flex;
    align-items: stretch;
    -webkit-box-align: stretch;
    height: 100%;
}
.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body{
    overflow-y: auto;
    overflow-x: hidden;
}
.modal-dialog-slideout .modal-content{
    border: 0;
}
.modal-dialog-slideout .modal-header {
    min-height: 50px; 
    display: flex;
} 
.modal-dialog-slideout .modal-header h5 {
    float:left;

    @include mob{
        width:90%;
        font-size:$fsize + 3;
        line-height:24px;


    }
}

.modal{ 
    .product-details{  

        h5{
            font-size:$fsize + 2;
            padding-bottom:10px;
        }
        .table{
            font-size:$fsize + 1;
            tr{
                td{
                    &:first-child{
                       color:$gray;                        
                    }
                }
                td{
                    &:last-child{
                       color:$black; 
                       @extend .fsemibold;
                    }
                }
            }
        }
    }
}

#movetop{
    position:fixed;
    right:15px;
    bottom:60px;
    width:40px;
    height:40px;
    background:$green;
    @include transition;
    text-align:center;
    line-height: 40px;
    display:none;
    z-index:99;

    .icomoon{
        font-size:$fsize + 2;
        color:$white;
    }

    &:hover{
        background:$orange;
    }
}

//subpage styles
.subpage{
    min-height:500px;

    p{
        font-size:$fsize;
        color:$gray;
        text-align: justify;
        line-height:26px;
        padding-bottom:20px;
    }

    .subpage-header{
        background:url(../img/page-header.jpg)no-repeat 0 0;
        width:100%;
        padding:50px 0;
        margin-bottom:20px;

        @include mob{
            padding:15px 0;
        }

        article{
            color:$white;
            
            h1{
                font-size:$fsize * 2 + 2;
                @extend .fbold;
                border-left:5px solid $orange;
                padding-left:5px;
            }
            nav{
               ol{
                background:none;
                margin-left:0;
                padding-left:0;

                @include mob{
                    margin-bottom:0;
                }

                li{
                    font-size:$fsize - 2;

                    &:before{
                        content:'-';
                        color:$white;
                    }

                    &:first-child{
                        &:before{
                            content:'';
                        }
                    }
                    a{
                        font-size:$fsize - 2;
                    }
                }
                .active{
                    color:$orange;
                   
                }
               }
            }
        }
    }

    //sub page body 
}

.bgwhite{
    background:$white;
}

.col-card{        
    .colcard-in{
        padding:30px 25px;      
        min-height:215px;   
        border:1px solid #eee; 
        text-align:center;  
        display: flex;      
        flex-direction: column;
        justify-content: center;

        .icomoon{
            font-size:$fsize * 5;
            color:$green;
        }
        h6{
            font-size:$fsize + 2;
            padding-top:20px;
            line-height:25px;
            @extend .light;
        }
    }
}

.list-items{
    li{
        @extend .list-icon;
        padding:7px 0;
        font-size:$fsize;
        color:$gray;
    }
}

.quality-control{
    background:url(../img/quality-controlbg.jpg)no-repeat 0 0;
    width:100%;
    padding:100px 0;
    position:relative;

    &:before{
        content:'';            
       @include positionall;
        width:100%;          
        background-image:linear-gradient(90deg, $darkgreen, $orange);           
        z-index: 10;
        opacity:0.8;
    }
    .container{
        position: relative;
        color:$white;
        z-index: 12;
        h2{
            color:$white;
            padding-bottom:25px;
        }

        p{
            color:$white; 
        }
    }
}

.table-responsive {
    font-size:$fsize;

    thead{
        background:$green;

        th{
            color:$white;
            font-weight:normal;
            font-size:$fsize;
        }
    }
}

.form-group{
    label{
        font-size:$fsize - 2;
    }

    .form-control{
        height:40px;
        font-size:$fsize;

        &:focus{
            box-shadow: none;
            border:1px solid $green;
        }
    }    
}

.data-table{
    font-size:$fsize + 1;
    thead{
        background:$green;

        th{
            color:$white;
            font-weight: 400;
        }
    }
    .data-tableimg{
        width:85px;
    }
    
}
.page-link{
    color:$black;
}

.active{
    .page-link{
        background:$green!important;
        border:1px solid $green!important;
        color:$white;
    }  
}

textarea.form-control{
    height:150px!important;
}

.career-col{
    padding-bottom:25px;
    .icomoon{
        font-size:$fsize * 5;
        color:$green;
    }
}

.cat-items{
    display:block;
    
    li{
        a{
            font-size:$fsize;
            display:block;
            padding:12px 0;
            border-bottom:1px solid lighten($gray, 50%);
            @include transition;

            &:hover{
                background:$green;
                color:$white;
                padding-left:5px;
            }           
        }
        .active-cat{
            background:$orange;
            color:$white;
            padding-left:5px;
        }
    }
}
.mob-dropdown-link{
    float:right;
    display:none;
}



//mobiel styles

@include mob{
    .cat-items{
        display:none;
    }

    .mob-dropdown-link{        
        padding:5px 10px;
        border:1px solid $green;
        display:inline-block;
        border-radius:5px;
        margin-top:-10px;
    }
}

@include mlscape{
    .cat-items{
        display:none;
    }

    .mob-dropdown-link{        
        padding:5px 10px;
        border:1px solid $green;
        display:inline-block;
        border-radius:5px;
        margin-top:-10px;
    }
}

//styles on 23-06-2020
.search-results{
    font-size:$fsize;
}

.dataList{
    max-height:250px;
    overflow-y: auto;
}


